.adImage {
  max-height: 300px;
  width: 100%;
  min-width: 500px;
}

footer {
  text-align: center;
  padding-bottom: 5px;
  padding-top: 25px;
}

section {
  margin-left: 15px;
}

app-login {
  float: right;
}
