nav {
  height: 30px;
  background: url("../../assets/images/texture.jpg") no-repeat;
  background-size: cover;
  transform: scaleX(-1);
  width: 100%;
  min-width: 500px;
}

nav ul {
  padding: 0 0 0 50px;
  margin: 0;
  transform: scaleX(-1);
  height: 100%;
  display: flex;
}

nav li {
  list-style: none;
  height: 100%;
  align-items: center;
}

nav a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  padding: 0 50px 0 5px;
  height: 100%;
}

nav a:hover {
  background-color: #670000;
  padding-right: -50px;
}
