nav {
  margin-top: -4px;
  height: 30px;
  background: url("../../assets/images/texture.jpg") no-repeat;
  transform: scaleX(-1);
  width: 100%;
  min-width: 500px;
}

nav ul {
  padding: 0 0 0 25px;
  margin-top: 0;
  transform: scaleX(-1);
}

nav li {
  display:inline-block;
  padding-top: 4px;
  padding-bottom: 4px;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 5px 10px 30px 5px;
}

nav li:hover {
  background-color: #670000;
  padding-right: -30px;
}
