#mackbook {
  border-radius: 8px;
  border: 1px solid chocolate;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  float: right;
  margin-top: 55px;
  max-height: 300px;
  max-width: 450px;
  overflow: hidden;
}

#mac-image {
  float: right;
  margin-left: 50px;
  max-width: 45%;
  min-width: 200px;
}

#story {
  text-align: justify;
  margin: auto;
  padding-right: 10px;
  padding-left: 10px;
  display: block;
  min-width: 60vw;
  grid-row: 2 / 2;
}

#text {
  overflow: hidden;
  min-width: 40%;
}

.brown {
  color: sienna;
}

.darkBlue {
  color: #086A87;
}

h2 {
  text-decoration: underline;
  margin-top: 0;
}

.woodenBar {
  background-image: url("../../assets/images/wooden_board.png");
  background-size: 300px;
  padding: 25px 85px 0 85px;
  width: min-content;
  background-repeat: no-repeat;
  min-height: 200px;
}

h1 {
  color: moccasin;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: 'Erica One', cursive;
  text-align: center;
  font-size: xx-large;
}

#list {
  position: relative;
  display: grid;
  grid-template-columns: 300px 300px;
  padding-top: 20px;
  width: 40vw;
  grid-row: 1 / 2;
}

ol {
  margin-left: 70px;
  font-size:calc(12px + 0.7vw);
}

a {
  text-decoration: none;
  color: #61380B;
}

