<h1>Tasks Manager</h1>

Content list:
<ol>
  <li><a href="#1">About</a>
    <ul>
      <li><a href="#1.1">Introduction</a></li>
      <li><a href="#1.1">Future features</a></li>
    </ul>
  </li>
  <li><a href="#2">Guideline</a>
    <ul>
      <li><a href="#2.1">How to use</a></li>
      <li><a href="#2.2">Examples</a></li>
    </ul>
  </li>
</ol>

<div id="story">
  <img id="mackbook" src="../../assets/images/macbook.jpg" alt="mackbook"/>
  <h2><a name="1">About</a></h2>
  <h3><a name="1.1">Introduction</a></h3>
  <p>
    This application was created with a view to better time scheduling. This app lets you keep your tasks, plans, ideas
    and deadlines in one place. Forget about pen and a sheet of paper, now you are able to write everything here and
    easly manage it. Major advantage of using such a service is possibility of being more organized and punctual. No
    more forgetting about things, just write them down in one place and come back to them whenever you want!
    <!--    However, personal use is not the only reason why this site was developed. The second aim of the author was to show his skills in programming.-->
  </p>
  <h3><a name="1.2">Future features</a></h3>
  <ul>There are some features, which author would like to add into this application in the near future:

    <li>Saving tasks in data (maybe .txt file), so they will not be removed after turning off application</li>
    <li>Increase security &rArr; use bCrypt in passwords, and do not save users data in local storage</li>
    <li>Implement registration form for new users</li>
    <li>Add possibility to launch application as one, not backend and frontend separtely &rArr; use Docker</li>
    <li>More coming soon...</li>
  </ul>

  <h2><a name="2">Guideline</a></h2>
  <h3><a name="2.1">How to use</a></h3>
  <p>
    There will be content in soon update...
  </p>
  <h3><a name="2.2">Examples</a></h3>
  <p>
    There are some examples in data.sql file, so in navigation panel choose tasks list to see how does those looks like.
    More coming soon...
  </p>
</div>
