.content {
  background-color: antiquewhite;
  margin-left: auto;
  margin-right: auto;
}

body{
  background-color: antiquewhite;
  padding: 0px 250px 0 250px;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
