.content {
  background-color: antiquewhite;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: antiquewhite;
}

body { margin: auto; font-family: Roboto, "Helvetica Neue", sans-serif; }

#body_view {
  min-height: 100vh;
  min-width: 750px;
  margin: auto;
  max-width: 1403px;
}
